#vssetting button {
 border: 0 solid #0049AC;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    cursor: pointer;
    font: bold 12px arial,helvetica,sans-serif;
    height: 24px;
    margin: 0;
    outline: 0 none;
    overflow: hidden;
    padding: 0 14px;
    text-align: center !important;
    text-shadow: 0 1px 1px rgba(0, 0, 2, 0.6);
    vertical-align: bottom;
    white-space: nowrap;
    width: auto;	
}
.version-check {
    background: none repeat scroll 0 0 #FF1717;
    border: 0px solid #157296;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0;
    padding: 5px 5px 5px 20px;
    text-align: left;
}

#dashboardicons { 
	border-color: #FFBFC0;
    border-style: solid;
    border-width: 0 1px 1px 0;
}

.x-grid-group-hd,
.x-panel, .x-panel-body,
.x-panel-bbar .x-toolbar, .x-panel-tbar .x-toolbar {
    border-color: #FFBFC0;
}

.x-grid-group-hd div.x-grid-group-title {
    color: #F33F3F;
}

.x-panel-body { 
	border-width: 1px;
}

.ose-notice{
	margin-top: 0px; 
	}
	
.x-form-element {
	float: none; 
}

#scanconf .x-form-element,
#seoconf .x-form-element {
	float: left; 
}


.x-form-label-top .x-form-item label.x-form-item-label {
    clear: none;
    display: inline;
    float: left;
    margin-bottom: 0px;
    position: static;
    min-width: 225px;
}

.section a,
.section a:link,
.section a:visited
{
	color: #F02222;
	text-decoration: none; 
	font-weight: bold; 
}


#configuration a,
#configuration a:link,
#configuration a:visited
{
	color: #444444;
	text-decoration: none; 
	font-weight: normal; 
}

#osefooter a,
#osefooter a:link,
#osefooter a:visited	
{
	color: #fff;
	text-decoration: none; 
	font-weight: bold; 
	font-family: arial;  
}

.footer-text {
	width: 300px;
	padding: 3px; 
	border-radius: 3px; 
	border: 1px solid #FF1717; 
	margin: auto; 
	color: #fff;  
	font-weight: bold; 
    font-family: arial; 
    background: -moz-linear-gradient(top, #DC1B21 0%, #BE161A 100%) repeat
		scroll 0 0 #BE161A;
	background: -o-linear-gradient(top, #DC1B21 0%, #BE161A 100%) repeat
		scroll 0 0 #BE161A;
	background: -ms-linear-gradient(top, #DC1B21 0%, #BE161A 100%) repeat
		scroll 0 0 #BE161A;
	background: -webkit-linear-gradient(top, #DC1B21 0%, #BE161A 100%)
		repeat scroll 0 0 #BE161A;
	background: linear-gradient(top, #DC1B21 0%, #BE161A 100%) repeat scroll
		0 0 #BE161A;
	background-color: #BE161A;
}